
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}

@using UhintsMvc.Dynamic

<div class="content-main">
    
   

    <div class="title-form-content">
        <h3 class="mtop10">Medical History</h3>
    </div>

    <div class="content-form">
        <form action="medicalhistory/create" method="post">
            <span class="alert alert-success alert-dismissible" id="Message" role="alert" style="display: none;"></span>
            <h5 class="mtop40 pbottom10" style="border-bottom:1px solid #e5e5e5">Medical History</h5>
            <div class="row bg-white">
                <div class="form-group col-lg-4">
                    <div class="mtop20">
                        <label class="control-label">Medical Diagnosis</label>

                        <input name="Name" class="form-control input" id="Name" type="text">
                    </div>
                </div>
                <div class="form-group col-lg-4">
                    <div class="mtop20">
                        <label class="control-label">Medical Diagnosis Nickname</label>

                        <input name="Nickname" class="form-control input" id="Nickname" type="text">
                    </div>
                </div>
            </div>
            <div class="row bg-white">
                <div class="col-lg-4 form-group mtop10">
                    <label class="control-label">Start Date</label>
                    <div>
                        <div class="input-group date" id="datetimepicker1">

                            <input name="StartDt" class="form-control input" id="StartDt" type="text" placeholder="MM/DD/YY">
                            <div class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 form-group mtop10">
                    <label class="control-label">End Date</label>
                    <div>
                        <div class="input-group date" id="datetimepicker2">

                            <input name="EndDt" class="form-control input" id="EndDt" type="text" placeholder="MM/DD/YY">
                            <div class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="btn-group col-lg-12 mtop20" role="group" aria-label="...">
                    <div class="btn-group" role="group">

                        <input name="submit" class="btn btn-primary" id="saveAilmentBtn" aria-expanded="false" aria-haspopup="true" type="submit" value="Add Record">
                    </div>
                </div>
            </div>
        </form>

        <div class="mtop20  content-form" id="UserAilmentList">
            <h5 class="mtop40 pbottom10" style="border-bottom:1px solid #e5e5e5">My Medical Diagnoses List</h5>
            <div class="bg-white">
              @UhintsHelpers.EditableTable(ViewBag.TableDescriptor, ViewBag.Records)
            </div>
        </div>
    </div>
</div>
